body{
	background:transparent;
}
.item{
	padding:5px;
	width:120px;
	height:120px;
	margin:5px;
	float:left;
	text-align:center;
	overflow:hidden;
/*	background:#abf;*/
}
.item a{
	text-decoration:none;
	font-size:10pt;
	color:#555;
}
img{
	z-index:10;
	border:none;
}
#link a{
	text-decoration:none;
	font-size:10pt;
	color:#555;
}
